.ability-menu {
    bottom: 374px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 13px;
    left: 0px;
    position: absolute;
    width: 375px;
    pointer-events: all;
    z-index: 1000;

    &:before {
        backdrop-filter: var(--ech-blur-amount);
        border: 1px solid transparent;
        content: "";
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 0;
    }
    ul {
        font-size: 1rem;
        list-style: none;
        margin: 0px;
        height: 100%;
        max-height: 0px;
        overflow-y: auto;
        padding: 0px;
        opacity: 0.99;
        transition: all 0.3s ease-in-out;
    }
    ul > li {
        border-top: 1px solid transparent;
        padding: 0.5rem 0.75rem;
        display: grid;
    }
    ul > li:first-child {
        border-top-width: 0px;
    }
    ul > li.ability-title {
        display: grid;
        font-weight: 900;
        padding-left: 1.3rem;
        text-transform: uppercase;
        padding: 0.5rem 0.75rem;
    }
    ul > li.ability-title > div {
        margin-left: auto;
    }
    ul > li.ability-title > div > span {
        width: 75px;
        display: inline-block;
        text-align: center;
    }
    ul > li.proficiency-is-not-proficient:before,
    ul > li.proficiency-is-half-proficiency:before,
    ul > li.proficiency-is-proficient:before,
    ul > li.proficiency-is-expertise:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        text-rendering: auto;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
    
        content: "\f111";
    }
    ul > li.proficiency-is-half-proficiency:before {
        content: "\f042";
        font-weight: 900;
    }
    ul > li.proficiency-is-proficient:before {
        content: "\f00c";
        font-weight: 900;
    }
    ul > li.proficiency-is-expertise:before {
        content: "\f560";
        font-weight: 900;
    }
    ul > li .ability-code,
    ul > li .ability-passive {
        opacity: 0.6;
        padding: 0rem 0.5rem;
        text-transform: uppercase;
    }
    ul > li .ability-code select {
        border-width: 0px;
        color: inherit;
        height: auto;
        text-transform: uppercase;
    }
    ul > li .ability-code select:focus {
        box-shadow: none;
    }
    ul > li .ability-code select * {
        padding: 0.5rem 0.75rem;
    }
    ul > li .ability-name {
        flex: 1;
    }
    ul > li .ability-name:hover {
        cursor: pointer;
    }
    ul > li.is-save .ability-code,
    ul > li.is-save .ability-passive {
        display: none;
    }
    .ability-name {
        padding-left: 1rem;
    }
    ul > li.is-save .ability-modifier {
        padding-right: 1rem;
    }
    ul > li.is-save > div {
        margin-left: auto;
    }
    ul > li.is-save > div > span {
        width: 75px;
        display: inline-block;
        text-align: center;
    }
    ul > li.is-save > div > span:hover {
        cursor: pointer;
    }
    
    
    ul.ability-toggle {
        max-height: 100%;
    }
    ul.ability-toggle li {
        border-top: 1px solid transparent;
        cursor: pointer;
    }
    ul.ability-toggle li:after {
        content: "\f13a";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-family: "Font Awesome 5 Free";
        line-height: 1;
        font-weight: 900;
        position: absolute;
        right: 15px;
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }

}