.ech-target-picker {
    color: white;
    position: absolute;
    font-size: large;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
    z-index: 9999;
}

#players.ech-hidden,
#hotbar.ech-hidden,
#fps.ech-hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.ech-show-ability-menu .ability-menu ul{
    &:first-child{
        max-height: calc(100vh - (375px + 37px + 1rem));
    }
    &.ability-toggle li:after{
        transform: rotate(0deg);
    }
}