.movement-hud {
    align-items: center;
    backdrop-filter: var(--ech-blur-amount);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 375px;
    justify-content: flex-end;
    left: 375px;
    padding: 1rem 0rem;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 115px;

    pointer-events: all;

    &.hidden{
        display: none !important;
    }

    .movement-current,
    i.fas {
        font-size: 1.8rem;
    }

    .movement-spaces {
        align-items: center;
        align-content: center;
        display: flex;
        flex-flow: wrap;
        flex-direction: column-reverse;
        margin-bottom: 0.5rem;
        max-height: 246px;
        width: 100%;
    }

    .movement-spaces .movement-space {
        border-radius: 3px;
        box-shadow: none;
        height: 25px;
        margin: 0.5rem 0.3rem;
        position: relative;
        transition: all 0.3s ease-in-out;
        max-width: 25px;
        width: 100%;
    }

    .movement-text {
        img {
            height: 1.8rem;
        }
        div {
            display: flex;
            gap: 0.5rem;
        }
    }

    &:has(.button-hud-button){
        padding: 0;
        justify-content: unset;
    }

    .button-hud-button{
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: medium;
        text-transform: uppercase;
        gap: 1rem;

        &.button-hud-button-small{
            font-size: small;
            i{
                font-size: medium;
            }
        }

        i{
            font-size: xxx-large;
        }
    }

}