<div class="features-accordion">
  <span class="feature-accordion-title">{{{localize label}}}</span>
  <div class="features-accordion-content">
    <div class="feature-spell-slots"></div>
  </div>
</div>