	<div>
		<ul>
		</ul>
		<ul class="ability-toggle">
			<li class="ability ability-title">{{hudData.settings.localize.saves}} / {{hudData.settings.localize.skills}} / {{hudData.settings.localize.tools}}</li>
		</ul>
	</div>