	<div class="movement-hud">
		<div class="movement-spaces">
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
		</div>
		<div class="movement-text"><span class="movement-current">6</span> <i class="fas fa-cube"></i><br/> {{hudData.settings.localize.of}} <span class="movement-max">6</span></div>
	</div>