<div class="extended-combat-hud fade-out-inactive-{{hudData.settings.fadeOutInactive}}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<div class="weapon-sets">
		<div class="weapon-set active" data-type="switchWeapons" data-value="set1">
			<div class="set set-primary" draggable="true" data-set="set1p" style="background-image: url({{hudData.sets.set1.primary.img}})"></div>
			<div class="set set-secondary" draggable="true" data-set="set1s" style="background-image: url({{hudData.sets.set1.secondary.img}})"></div>
		</div>
		<div class="weapon-set" data-type="switchWeapons" data-value="set2">
			<div class="set set-primary" draggable="true" data-set="set2p" style="background-image: url({{hudData.sets.set2.primary.img}})"></div>
			<div class="set set-secondary" draggable="true" data-set="set2s" style="background-image: url({{hudData.sets.set2.secondary.img}})"></div>
		</div>
		<div class="weapon-set" data-type="switchWeapons" data-value="set3">
			<div class="set set-primary" draggable="true" data-set="set3p" style="background-image: url({{hudData.sets.set3.primary.img}})"></div>
			<div class="set set-secondary" draggable="true" data-set="set3s" style="background-image: url({{hudData.sets.set3.secondary.img}})"></div>
		</div>
	</div>
	<div class="ability-menu">
		<ul>
			{{{generateSavingThrows "saves"}}}
			{{{generateAbilities "skills"}}}
			{{{generateAbilities "tools"}}}
		</ul>
		<ul class="ability-toggle">
			<li class="ability ability-title">{{hudData.settings.localize.saves}} / {{hudData.settings.localize.skills}} / {{hudData.settings.localize.tools}}</li>
		</ul>
	</div>
	<div class="portrait-hud">
		<div class="death-saves">
			<div class="death-save-success">
			<div class="death-save-result-container">
				<span>1</span>
				<i class="fas fa-check"></i>
			</div>
			</div>
			<div class="death-save-btn"><i class="fas fa-skull"></i></div>
			<div class="death-save-fail">
				<div class="death-save-result-container">
					<span>1</span>
					<i class="fas fa-times"></i>
				</div>
			</div>
		</div>
		<div class="portrait-hud-image" style="background-image: url('{{hudData.actor.img}}');"></div>
		<div class="portrait-stat-block">
			<span data-hp-value="{{hudData.actor.system.attributes.hp.value}}"></span>
			&nbsp;/&nbsp;<span data-hp-max="{{hudData.actor.system.attributes.hp.max}}"></span>
			&nbsp;HP
		</div>
		<div class="portrait-stat-block">
			<span>{{hudData.settings.localize.AC}}</span>&nbsp;<span data-ac-value="{{hudData.actor.system.attributes.ac.value}}"></span>
		</div>
		<div class="portrait-stat-block">
			<span>{{hudData.settings.localize.SpellDC}}</span>&nbsp;<span data-spell-dc="{{hudData.actor.system.attributes.spelldc}}"></span>
		</div>
		<div class="portrait-stat-block player-details{{#if hudData.settings.playerDetailsBottom}} player-details-bottom{{/if}}">
			<span class="player-name">{{hudData.actor.name}}</span>
				<span class="player-detail">
					{{hudData.other.classes}}
				</span>
		</div>
		<div class="player-buttons">
			<a class="player-button" title="{{hudData.settings.localize.InitiativeRoll}}" onClick="canvas.hud.enhancedcombathud.hudData.actor.rollInitiative({ rerollInitiative: true, createCombatants: true });"><i class="fas fa-dice-d20"></i></a>
			<div class="player-button" onclick="canvas.hud.enhancedcombathud.hudData.actor.sheet.render(true);"><i class="fas fa-suitcase"></i></div>
			<div class="ech-close player-button" onclick="canvas.hud.enhancedcombathud.toggleMinimize()"><i class="fas fa-sort-down"></i></div>

		</div>
	</div>
	<div class="movement-hud">
		<div class="movement-spaces">
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
			<span class="movement-space"></span>
		</div>
		<div class="movement-text"><span class="movement-current">6</span> <i class="fas fa-cube"></i><br/> {{hudData.settings.localize.of}} <span class="movement-max">6</span></div>
	</div>
	<div class="action-hud">
		<div class="features-container is-spells" data-iscontainer="true" data-containeractiontype="actions" >
			{{#each hudData.actions.spells}}
			<div class="features-accordion">
				<span class="feature-accordion-title">{{@key}}</span>
				<div class="features-accordion-content">
				{{#each this}}
					<div {{{hasUses this}}} data-type="trigger"{{{hasUses this}}} data-itemname="{{name}}" style="background-image: url({{img}})">
						<span class="feature-element-title">{{name}}</span>
					</div>
				{{/each}}
					<div class="feature-spell-slots" data-type="{{@key}}">
						{{{spellSlots @key}}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-spells" data-iscontainer="true" data-containeractiontype="bonus" >
			{{#each hudData.bonus.spells}}
			<div class="features-accordion">
				<span class="feature-accordion-title">{{this.[0].labels.level}}</span>
				<div class="features-accordion-content">
				{{#each this}}
					<div {{{hasUses this}}} data-type="trigger"{{{hasUses this}}} data-itemname="{{name}}" style="background-image: url({{img}})">
						<span class="feature-element-title">{{name}}</span>
					</div>
				{{/each}}
				<div class="feature-spell-slots" data-type="{{@key}}">
					{{{spellSlots @key}}}
				</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-spells" data-iscontainer="true" data-containeractiontype="reactions" >
			{{#each hudData.reactions.spells}}
			<div class="features-accordion">
				<span class="feature-accordion-title">{{this.[0].labels.level}}</span>
				<div class="features-accordion-content">
				{{#each this}}
					<div {{{hasUses this}}} data-type="trigger"{{{hasUses this}}} data-itemname="{{name}}" style="background-image: url({{img}})">
						<span class="feature-element-title">{{name}}</span>
					</div>
				{{/each}}
				<div class="feature-spell-slots" data-type="{{@key}}">
					{{{spellSlots @key}}}
				</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-consumables" data-iscontainer="true" data-containeractiontype="actions">
			{{#each hudData.actions.consumables}}
			<div {{{hasUses this}}} data-type="trigger" data-itemname="{{name}}" style="background-image: url({{img}})">
			<span class="feature-element-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-powers" data-iscontainer="true" data-containeractiontype="actions">
			{{#each hudData.actions.special}}
			<div {{{hasUses this}}} data-type="trigger" data-itemname="{{name}}" style="background-image: url({{img}})">
			<span class="feature-element-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-powers" data-iscontainer="true" data-containeractiontype="bonus">
			{{#each hudData.bonus.special}}
			<div {{{hasUses this}}} data-type="trigger" data-itemname="{{name}}" style="background-image: url({{img}})">
			<span class="feature-element-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-powers" data-iscontainer="true" data-containeractiontype="reactions">
			{{#each hudData.reactions.special}}
			<div {{{hasUses this}}} data-type="trigger" data-itemname="{{name}}" style="background-image: url({{img}})">
			<span class="feature-element-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
		<div class="features-container is-powers" data-iscontainer="true" data-containeractiontype="free">
			{{#each hudData.free.special}}
			<div {{{hasUses this}}} data-type="trigger" data-itemname="{{name}}" style="background-image: url({{img}})">
			<span class="feature-element-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
		<div class="actions-container has-actions" data-actionbartype="actions" data-title="{{hudData.settings.localize.mainactions}}">
			<div class="action-element" data-type="trigger" data-set="setp" data-itemname="{{hudData.sets.active.primaryname}}" style="background-image: url({{hudData.sets.active.primaryimg}})">
				<span class="action-element-title">{{hudData.sets.active.primary.name}}</span>
			</div>
			<div class="action-element-container">
				<div class="action-element ech-blur" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.disengage}}" style="background-image: url(modules/enhancedcombathud/icons/journey.svg)">
					<span class="action-element-title">{{hudData.other.specialItemsNames.disengage}}</span>
				</div>
				<div class="action-element ech-blur" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.dodge}}" style="background-image: url(modules/enhancedcombathud/icons/armor-upgrade.svg)">
					<span class="action-element-title">{{hudData.other.specialItemsNames.dodge}}</span>
				</div>
			</div>
			<div class="action-element ech-blur" data-type="menu" data-actiontype="actions" data-itemtype="spells" data-menu="is-spells" style="background-image: url(modules/enhancedcombathud/icons/spell-book.svg)">
				<span class="action-element-title">{{hudData.settings.localize.castspell}}</span>
			</div>
			<div class="action-element ech-blur" data-type="menu" data-actiontype="actions" data-itemtype="special" data-menu="is-powers"  style="background-image: url(modules/enhancedcombathud/icons/mighty-force.svg)">
				<span class="action-element-title">{{hudData.settings.localize.usepower}}</span>
			</div>
			<div class="action-element-container">
			<div class="action-element ech-blur" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.ready}}" style="background-image: url(modules/enhancedcombathud/icons/clockwork.svg)">
				<span class="action-element-title">{{hudData.other.specialItemsNames.ready}}</span>
			</div>
			<div class="action-element ech-blur" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.hide}}" style="background-image: url(modules/enhancedcombathud/icons/cloak-dagger.svg)">
				<span class="action-element-title">{{hudData.other.specialItemsNames.hide}}</span>
			</div>
		</div>
			<div class="action-element-container">
				<div class="action-element" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.dash}}" style="background-image: url(modules/enhancedcombathud/icons/walking-boot.svg)">
					<span class="action-element-title">{{hudData.other.specialItemsNames.dash}}</span>
				</div>
				<div class="action-element" data-type="trigger" data-itemname="{{hudData.other.specialItemsNames.shove}}" style="background-image: url(modules/enhancedcombathud/icons/shield-bash.svg)">
					<span class="action-element-title">{{hudData.other.specialItemsNames.shove}}</span>
				</div>
			</div>
			<div class="action-element"  data-type="menu" data-actiontype="actions" data-itemtype="consumables" data-menu="is-consumables" style="background-image: url(modules/enhancedcombathud/icons/drink-me.svg)">
				<span class="action-element-title">{{hudData.settings.localize.useitem}}</span>
			</div>
		</div>
		
		
		<div class="actions-container  has-actions" data-actionbartype="bonus" data-title="{{hudData.settings.localize.bonusaction}}">
			<div class="action-element primary-element" data-type="trigger" data-atype="bonus" data-set="sets" data-itemname="{{hudData.sets.active.secondary.name}}" style="background-image: url({{hudData.sets.active.secondary.img}})">
				<span class="action-element-title">{{hudData.sets.active.secondary.name}}</span>
			</div>
			<div class="action-element bonus-action" data-type="menu" data-actiontype="bonus" data-itemtype="spells" data-menu="is-spells" style="background-image: url(modules/enhancedcombathud/icons/spell-book.svg)">
				<span class="action-element-title">{{hudData.settings.localize.castspell}}</span>
			</div>
			<div class="action-element bonus-action" data-type="menu" data-actiontype="bonus" data-itemtype="special" data-menu="is-powers"  style="background-image: url(modules/enhancedcombathud/icons/mighty-force.svg)">
				<span class="action-element-title">{{hudData.settings.localize.usepower}}</span>
			</div>
		</div>
		<div class="actions-container" data-actionbartype="free" data-title="{{hudData.settings.localize.specialaction}}">
			<div class="action-element free-action" data-type="menu" data-actiontype="free" data-itemtype="special" data-menu="is-powers"  style="background-image: url(modules/enhancedcombathud/icons/mighty-force.svg)">
				<span class="action-element-title">{{hudData.settings.localize.usepower}}</span>
			</div>
		</div>
		<div class="actions-container has-actions" data-actionbartype="reactions" data-title="{{hudData.settings.localize.reaction}}">
			<div class="action-element primary-element" data-type="trigger"  data-atype="reaction" data-set="setp" data-itemname="{{hudData.sets.active.primaryname}}" style="background-image: url({{hudData.sets.active.primaryimg}})">
				<span class="action-element-title">{{hudData.sets.active.primaryname}}</span>
			</div>
			<div class="action-element reaction" data-type="menu" data-actiontype="reactions" data-itemtype="spells" data-menu="is-spells" style="background-image: url(modules/enhancedcombathud/icons/spell-book.svg)">
				<span class="action-element-title">{{hudData.settings.localize.castspell}}</span>
			</div>
			<div class="action-element reaction" data-type="menu" data-actiontype="reactions" data-itemtype="special" data-menu="is-powers"  style="background-image: url(modules/enhancedcombathud/icons/mighty-force.svg)">
				<span class="action-element-title">{{hudData.settings.localize.usepower}}</span>
			</div>
		</div>
		<div class="actions-container" data-passcont="true" data-title="{{hudData.settings.localize.pass}}">
			<div class="action-element end-turn" data-pass="true" style="background-image: url(modules/enhancedcombathud/icons/duration.svg)">
				<span class="action-element-title">{{hudData.settings.localize.endturn}}</span>
			</div>
		</div>
	</div>
</div>