:root {
	/* TEXT COLOR */
	--ech-fore-color: rgb(180, 210, 220);
	/* BACKGROUND COLORS */
	--ech-color: rgba(65 75 85 / 90%);
  	--ech-hover-brightness: brightness(150%);
    --ech-color-bonus-action: rgb(69 59 117 / 90%);
    --ech-color-free-action: rgba(59 88 117 / 90%);
    --ech-color-reaction: rgb(117 59 59 / 90%);
    --ech-color-end-turn: rgba(55 75 60 / 90%);
	/* BORDER COLORS */  
  	--ech-border-color: rgb(117, 127, 137);
	/* SETTINGS */
  	--ech-portrait-size: cover;
}

@keyframes extendedCombatHUDLoadAnimation {
  from {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 15px;
    opacity: 1;
  }
}

.extended-combat-hud {
  animation: extendedCombatHUDLoadAnimation 0.3s ease-in 1;
  bottom: 15px;
  color: var(--ech-fore-color);
  display: flex;
  flex-direction: row;
  left: 15px;
  position: absolute;
  transform-origin: bottom left;
  /* USED TO ALLOW USERS TO CLICK THROUGH AND AROUND ECH*/
  pointer-events: none;
}

.ech-close {
  backdrop-filter: blur(6px);
  background-color: rgb(0 0 0 / 50%);
  border: 1px solid var(--ech-border-color);
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: -115px;
  top: calc((-50px - 1rem));
  width: 50px;
  
  pointer-events: all;
}

.extended-combat-hud *,
.extended-combat-hud :before,
.extended-combat-hud :after {
  box-sizing: border-box;
}

.ech-swords{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../icons/crossed-swords.svg) no-repeat center;
    background-size: contain;
    filter:brightness(0.7);
    padding: 5px;
    background-origin: content-box;

}

.control-tool:hover .ech-swords, .control-tool:focus .ech-swords, .control-tool:active .ech-swords,.active > .ech-swords{
    filter: brightness(1);
}

.token-info-container .control-icon .ech-swords {
	filter: brightness(1);
	padding: 10px;
}