:root {
	/* TEXT COLOR */
	--ech-fore-color: rgb(180, 210, 220);
	/* BACKGROUND COLORS */
	--ech-color: rgba(65 75 85 / 90%);
  	--ech-hover-brightness: brightness(150%);
  	--ech-color-bonus-action: rgba(95 75 70 / 90%);
  	--ech-color-end-turn: rgba(55 75 60 / 90%);
	/* BORDER COLORS */  
  	--ech-border-color: rgb(117, 127, 137);
	/* SETTINGS */
  	--ech-portrait-size: cover;
}

@keyframes extendedCombatHUDLoadAnimation {
  from {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 15px;
    opacity: 1;
  }
}

.extended-combat-hud {
  animation: extendedCombatHUDLoadAnimation 0.3s ease-in 1;
  bottom: 15px;
  color: var(--ech-fore-color);
  display: flex;
  flex-direction: row;
  left: 15px;
  position: absolute;
  transform-origin: bottom left;
  /* USED TO ALLOW USERS TO CLICK THROUGH AND AROUND ECH*/
  pointer-events: none;

}
.extended-combat-hud *,
.extended-combat-hud :before,
.extended-combat-hud :after {
  box-sizing: border-box;
}
