.ech-highjack-window *,
.ech-highjack-window :before,
.ech-highjack-window :after {
  box-sizing: border-box;
}

.ech-highjack-window {
	height: auto !important;
    z-index: 10000 !important;
}

.ech-highjack-window .window-header {
	backdrop-filter: blur(6px);
	border-bottom-width: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1rem 0.5rem;
    position: relative;
    text-align: center;
    flex: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
}
.ech-highjack-window .window-header .window-title {
	font-weight: 600;
    text-transform: uppercase;
}
.ech-highjack-window .window-header .close {
	font-size: 0px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.ech-highjack-window .window-header .close i {
	font-size: 16px;
}

.ech-highjack-window .window-content {
	backdrop-filter: blur(6px);
	background-image: none;
    border: 1px solid transparent;
	border-top-width: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.ech-highjack-window .window-content .form-group {
	margin: 0.5rem 0rem;
}
.ech-highjack-window .window-content .form-group input,
.ech-highjack-window .window-content .form-group select {
	border-radius: 0px;
    padding: 0.5rem;
    height: auto;
    border-width: 0px;
}

.ech-highjack-window .window-content .form-group select * {
    padding: 0.5rem 0.75rem;
}
.ech-highjack-window .window-content .form-group input:disabled,
.ech-highjack-window .window-content .form-group input::placeholder {
	opacity: 0.6;
}
.ech-highjack-window .dialog-buttons {
	margin-top: 0.5rem;
}
.ech-highjack-window .dialog-buttons button {
    border: 1px solid transparent;
    border-radius: 0;
    margin: 0px;
}
.ech-highjack-window .dialog-buttons button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-width: 0px;
}
.ech-highjack-window .dialog-buttons button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-width: 0px;
}