:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
  }

.tooltip {
    display:inline-block;
    position:absolute;
    max-width: 20%;
    text-align:left;
    color: var(--ech-fore-color);
    left: var(--mouse-x);
    bottom: var(--mouse-y);
    backdrop-filter: blur(6px);
    background-color: rgb(0 0 0 / 30%);
    border: 1px solid var(--ech-border-color);
    height: fit-content;
    justify-content: center;
    margin-right: -75px;
    padding: 1rem 0.5rem;
}